		
body{
	background-color: #D8D8D8;
}
.hang1{
	width: 100%;
	height: 75px;
	background-color: #FFFFFF;
}
.abc1{
	background-color:#F2F2F2;
}
.hang1 img{
	height: 70px;
}
.b2{
	margin-left: 20%;
}
.b3{
	margin-left: 17%;
}
		.hang2 {
			width: 100%;
			height: auto;
			background-color: ;
			color: #0080FF;
			font-size: 18px
		}
		.hang3{
			width: 100%;
			height: auto;
		}
		.phai3{
			height: auto;
			width: auto;
			border-left: 5px solid #0080FF;
			border-top:  5px solid #0080FF;
		}
		.nav-item{
			width: 100%;
		}
		.phai3 .anh2{
			padding-right: 2%;
			padding-left: 3%;
			padding-top: 2%;
		}
		.trai3 li a{
			margin-top: 3px;
			color: #FFFFFF;
			background-color: #0000FF;
			font-size: 18px;
		}
		.trai3 li a:hover{
			background-color: #0080FF;
		}
		footer{
			width: auto;
			height: auto;
			background-color: #0080FF;
			color: #FFFFFF;
		}
		footer span a{
			color: #FFFFFF;
			
		}
		footer span a:hover{
			color: #D8D8D8
		}
		footer span{
			margin-left: 10%;
			margin-top: 10%;
			margin-bottom: 10%;
			margin-right: 10%;
		}
		.cach{
			height: 50px;
		}
	#slider5{
		width: 550px;
		height: auto;
		margin:0 auto;
		overflow: hidden;
	}
	.slide5{
		width: 10000px;
		-webkit-animation:slide 15s ease infinite;
	}
	#slider5 .slide5 .anh{
		float: left;
		width: 550px;
		height: auto;
		flex-shrink: 0;
	}
	@-webkit-keyframes slide{
		20%{margin-left:0px;}
		40%{margin-left: -550px;}
		60%{margin-left: -550px;}
		80%{margin-left: -1100px;}
		100%{margin-left: -1650px;}
	}
	#khung{
		width: 80%;
		height: auto;
		margin: 0 auto;
	}
	#bang1{
		width: 500px;
		height: 35px;
		margin-left: 10%;

	}
	#bang1 tr td{
		border: 1px solid #848484;
	}
	.c1{
		margin-left: 5%;
	}
	.c2{
		margin-left: 7%;
	}
	.ac1{
		color: #0080FF;
	}
	.code1{
		width: 700px;
		height: 350px;
		background-color:#81F7F3;
		
	}
	#code2{
		margin-left: 5%;	}